<div class="container">
    <div class="row">
        <div class="col-md-12 migros-mt-40">
            <div class="box-area">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="font-weight: 600;">Buttons</h1>
                        <h5 class="migros-mt-20" style="color: gray;">Large</h5>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" class="btn migros-btn migros-btn-large migros-btn-green">Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" class="btn migros-btn migros-btn-large migros-btn-green"><i
                                style="margin-right: 10px;" class="fas fa-plus"></i>Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button"
                            class="btn migros-btn migros-btn-large migros-btn-outline-green">Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" class="btn migros-btn migros-btn-large migros-btn-outline-green"><i
                                style="margin-right: 10px;" class="fas fa-plus"></i>Button</button>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-btn migros-btn-large migros-btn-green migros-btn-disabled">Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-btn migros-btn-large migros-btn-green migros-btn-disabled"><i
                                style="margin-right: 10px;" class="fas fa-plus"></i>Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-btn migros-btn-large migros-btn-green migros-btn-outline-disabled">Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-btn migros-btn-large migros-btn-green migros-btn-outline-disabled"><i
                                style="margin-right: 10px;" class="fas fa-plus"></i>Button</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 migros-mt-40">
                        <h5 style="color: gray;">Medium</h5>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" class="btn migros-btn migros-btn-medium migros-btn-green">Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" class="btn migros-btn migros-btn-medium migros-btn-green"><i
                                style="margin-right: 10px;" class="fas fa-plus"></i>Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button"
                            class="btn migros-btn migros-btn-medium migros-btn-outline-green">Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" class="btn migros-btn migros-btn-medium migros-btn-outline-green"><i
                                style="margin-right: 10px;" class="fas fa-plus"></i>Button</button>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-btn migros-btn-medium migros-btn-green migros-btn-disabled">Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-btn migros-btn-medium migros-btn-green migros-btn-disabled"><i
                                style="margin-right: 10px;" class="fas fa-plus"></i>Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-btn migros-btn-medium migros-btn-green migros-btn-outline-disabled">Button</button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-btn migros-btn-medium migros-btn-green migros-btn-outline-disabled"><i
                                style="margin-right: 10px;" class="fas fa-plus"></i>Button</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 migros-mt-40">
                        <h5 style="color: gray;">Icon</h5>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" class="btn migros-icon-btn migros-btn-large migros-btn-green"><i class="fas fa-plus"></i></button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" class="btn migros-icon-btn migros-btn-large migros-btn-outline-green"><i class="fas fa-plus"></i></button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-icon-btn migros-btn-large migros-btn-green migros-btn-disabled"><i class="fas fa-plus"></i></button>
                    </div>
                    <div style="margin-top: 20px;" class="col-md-3">
                        <button type="button" disabled
                            class="btn migros-icon-btn migros-btn-large migros-btn-outline-disabled migros-btn-disabled"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>