html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

.homepage-background{
    background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.migros-mt-10{
    margin-top: 10px;
}

.migros-mt-20{
    margin-top: 20px;
}

.migros-mt-30{
    margin-top: 30px;
}

.migros-mt-40{
    margin-top: 40px;
}

.migros-mt-100{
    margin-top: 100px;
}

.migros-mt-200{
    margin-top: 200px;
}

.migros-btn{
    border-radius: 10px;
    padding: .375rem 2.25rem;
    color: white;
    font-weight: 300;
}

.migros-icon-btn{
    border-radius: 10px;
    color: white;
    font-weight: 300;
    padding: .375rem 1.25rem;
}

.migros-icon-btn:hover{
    color: white;
}

.migros-btn-large{
    height: 45px;
}

.migros-btn-medium{
    height: 38px;
}



.migros-btn:hover{
    color: white;
}

.migros-btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(6 139 22 / 43%);
    background-color: #146569;
    border-color: #146569;
}

.migros-icon-btn:focus{
    box-shadow: 0 0 0 0.25rem rgb(6 139 22 / 43%);
    background-color: #146569;
    border-color: #146569;
}

.migros-btn-green{
    background-color: #077777;
    border-color: #077777;
}

.migros-btn-outline-green{
    background-color: transparent;
    border-color: #077777;
    color: #077777;
}

.migros-btn-outline-green:hover{
    color: #077777;
}

.migros-btn-outline-green:focus{
    box-shadow: 0 0 0 0.25rem rgb(6 139 22 / 43%);
    background-color: transparent;
    border-color: #146569;
}

.migros-btn-disabled{
    background-color: #c2c7cf;
    border-color: #c2c7cf;
}

.migros-btn-outline-disabled{
    background-color: transparent;
    border-color: #c2c7cf;
    color: #c2c7cf;
}

.migros-box{
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #ffffffcf;
}